<%- include('_header'); -%>

<div class="row">
    <div class="col-lg-4 tar">
        <form method="post" action="/setTarget" class="mx-auto" style="width: 300px;">
   
            <div class="my-3">
                <input type="number" class="form-control" name="ProjectedIncome" id="ProjectedIncome" placeholder="Projected Income" autocomplete="off" required>  
            </div>
            <div class="my-3">
                <input type="number" class="form-control" name="TGroceryExpense" id="TGroceryExpense" placeholder="Target Grocery Expense" autocomplete="off"  required>  
            </div>
            <div class="my-3">
                <input type="number" class="form-control" name="TTransportationExpense" placeholder="Target Transportation Expense" autocomplete="off" required>  
            </div>
            <div class="my-3">
               <input type="number" class="form-control" name="TEducationExpense" placeholder="Target Education Expense" autocomplete="off" required>
            </div>
            <div class="my-3">
               <input type="number" class="form-control" name="TOtherExpense" placeholder="Target Other Expense" autocomplete="off" required>
            </div>

            <div class="my-3">
                <button type="submit" class="btn btn-danger" onclick="UpdateData">Set/Update Target</button>
            </div>
          </form>
            
        </form>
    </div>


    <!-- chart -->
    <div class="col-lg-8">
        <div class="chartBoxtarget">
            <canvas id="targetchart"></canvas>
          
        </div>
        <script>
        var ctx = document.getElementById('targetchart').getContext('2d');
        var myChart = new Chart(ctx,  {
            type: 'pie',
            data: {
                labels: ['Projected Income', 'Target Grocery Expense', 'Target Transportation Expense', 'Target Education Expense','Target Other Expense','Savings'],
                datasets: [{
                    label: 'Financial Target',
                    data: [600, 90, 30, 50,62,53],
                    backgroundColor: [
                        'rgba(743, 33, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(255, 99, 13, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(743, 33, 192, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 99, 13, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        function UpdateData() {
            console.log("helolo");
            targetchart.data.datasets[0].data[1] = 6000;
            // targetChart.data.labels[6] = "new Added";
            targetchart.update();
        }
        </script>
    </div>
   
</div>


<div style="height: 100px;">

</div>

<%- include('_footer'); -%>