<%- include('_header'); -%>

    <form method="post" action="/uploadRecipts" class="mx-auto" style="width: 300px;" enctype="multipart/form-data">
        <label for="imgtitle" class="upload-lable">Recipt Title</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="imgtitle" name="imgtitle" placeholder="Image Title"
                autocomplete="off" required>
        </div>
        <div class="my-3">
            <label for="desc" class="upload-lable">Recipt Description</label>
            <textarea class="form-control" style="width: 300px;" id="desc" name="desc" value="" rows="3"
                placeholder="Description" required>
        </textarea>
        </div>
        <div class="form-group">
            <label for="image" class="upload-lable">Choose Recipt</label>
            <input type="file" id="image" name="image" class="form-control-file" required>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-danger">Upload</button>
        </div>
    </form>


<%- include('_footer'); -%>